* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  background-image: url(svg/header.svg);
  padding: 1em;
  display: flex;
  min-width: 800px;
  justify-content: space-between;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo img {
  max-width: 130px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

.bible img {
  width: 100%;
  padding-bottom: 20px;
}

.rulescontainer {
  display: flex;
  border-style: solid;
  border-color: blue;
  width: 100%;
}

.rulescontainer img {
  border-style: solid;
  border-color: blue;
}

.rules {
  margin: 0 auto;
  text-align: center;
}

caption {
  font-family: "Jim Nightshade", cursive;
  padding-top: 8px;
  font-size: 3em;
  margin-bottom: 10px;
  color: rgba(0, 255, 26, 1);
}

td {
  font-family: "Gwendolyn", cursive;
  display: block;
  padding: 8px;
  margin-bottom: 5px;
  color: rgba(250, 255, 0, 1);
}

table {
  width: 80%;
}

.table caption {
  text-align: center;
}

.table td {
  text-align: left;
  font-size: 3em;
  display: inline-flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  color: rgba(250, 255, 0, 1);
  position: relative;
}

.table td img {
  margin-right: 10px;
  max-width: 80px;
  max-height: 80px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  position: relative;
}

.texto {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  color: greenyellow;
}

.texto p {
  font-size: 30px;
  color: red;
}

.table {
  background-image: url(svg/buda.svg);
  background-repeat: no-repeat;
  height: 1752px;
  width: 1181px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: -1;
}

.heart {
  background-color: greenyellow;
}

.images {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  background-image: url(svg/footer.svg);
  padding: 1em;
  text-align: center;
}

.facebook {
  padding-left: 100px;
}
